{% load static %}

<footer id="Footer" class="clearfix">
            <div class="widgets_wrapper" style="padding:120px 0 110px;">
                <div class="container">
                    <div class="column one-fourth">
                        <aside class="widget widget_text">
                            <div class="textwidget" align="center">
                                <img src="{% static 'core/images/ascanavi-logo.png' %}" alt="Logo da ASCANAVI">
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fourth">
                        <aside class="widget widget_text">
                            <div class="textwidget">
                                <div style="padding-right: 15%;">
                                    <h5>Nosso endereço</h5>
                                    <hr class="no_line" style="margin: 0 auto 5px;" />
                                    <p>
                                        BR 116, km 415
                                        <br> Turmalina
                                        <br> Governador Valadares / MG
                                        <br> (33)3275-6435
                                    </p>
                                    <hr class="no_line" style="margin: 0 auto 10px;" />
                                    <p style="font-size: 18px; line-height: 18px; letter-spacing: 10px;">
                                        <a style="color: #b5b5b5;" href="https://www.facebook.com/pg/ascanavigv" target="_blank"><i class="icon-facebook"></i></a><!--<a style="color: #b5b5b5;" href="https://www.facebook.com/pg/ascanavigv" target="_blank"><i class="icon-twitter"></i></a><a style="color: #b5b5b5;" href="#"><i class="icon-vimeo"></i></a>-->
                                    </p>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="column one-second">
                        <aside class="widget widget_text">
                            <div class="textwidget">
                                    <h5>Links úteis</h5>
                                    <hr class="no_line" style="margin: 0 auto 5px;" />
                                    <ul style="font-weight: 700;">
                                    <li style="margin-bottom: 15px;">
                                        <span style="color: #e6ae48; margin-right: 10px;">&rarr;</span><a href="http://mncr.org.br/" target="_blank">Movimento Nacional dos Catadores de Materiais Recicláveis</a>
                                    </li>
                                    <li style="margin-bottom: 15px;">
                                        <span style="color: #e6ae48; margin-right: 10px;">&rarr;</span><a href="#">Outro link útil</a>
                                    </li>
                                    <li style="margin-bottom: 15px;">
                                        <span style="color: #e6ae48; margin-right: 10px;">&rarr;</span><a href="#">Conferência Mundial de algo</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <div class="footer_copy">
                <div class="container">
                    <div class="column one">
                        <a id="back_to_top" class="button button_left button_js" href="#"><span class="button_icon"><i class="icon-up-open-big"></i></span></a>
                        <div class="copyright">
                            &copy; {% now 'Y' %} ASCANAVI - Desenvolvido pela equipe <em>Rede Solidária Natureza Viva</em>.
                        </div>
                        <ul class="social"></ul>
                    </div>
                </div>
            </div>
        </footer>